// Breakpoints
$large-breakpoint: 54em !default;
$medium-breakpoint: 40em !default;

// Colors
$color-base: #A66800;
$color-spot: #3E0470;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: desaturate($color-base, 25%) !default;
$header-bg-color-secondary: desaturate($color-spot, 25%) !default;

// Text
$headings-color: $color-base !default;
$body-text-color: desaturate($color-base, 90%) !default;
$body-link-color: lighten($color-spot, 10%) !default;
$blockquote-text-color: lighten($body-text-color, 20%) !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: lighten($body-text-color, 55%) !default;
$table-border-color: $border-color !default;
$hr-border-color: $border-color !default;
