---
---

@import 'normalize';
@import 'parameters';
@import 'mixins';
@import 'cardo';

@import url("http://fonts.googleapis.com/css?family=\
Inconsolata:400,700");




html {
  font-family: "Cardo", serif;
  font-size: $font-size;
  line-height: 1.6em;
  background-color: $white;
  color: $black;
}

body {
  padding-left: 1/8 * 100vw;
  padding-right: 1/13 * 100vw;
  padding-bottom: 50vh;
  max-width: 34rem;
}




p, dl, hr, main>ul:not(.contact) {
  margin-top: 1em;
  margin-bottom: 1em;
}




h1, h2, h3 {
  font-weight: normal;
  line-height: 1.6em;
  margin-top: 3em;
  margin-bottom: 1em;
}

h2, h3 { font-style: italic; }

h1 { font-size: 2.0rem; }
h2 { font-size: 1.6rem; }
h3 { font-size: 1.2rem; }




footer { text-align: center; }

ul, ol, dl { padding: 0; }


strong { font-variant: small-caps; }
em { font-style: italic; }

a:not(.button) {
  color: inherit;
  @include underlined;
}

nav ul {
  display: flex;
  align-items:center;
  flex-direction:row;
}

@media screen and (max-width: 34em) {
  nav ul { flex-direction: column; }
}

nav li {
  margin: 1em;
  font-size:1.2em;
  list-style-type: none;
}

.button {
  background-repeat: no-repeat;
  background-size: 100%;
  width: 4em;
  height: 4em;
  display: block;
  color: transparent;
}

.glyph {
  background-image: url("../assets/glyph.png");
  image-rendering: pixelated;
  width: 64px;
  height: 64px;
  color: transparent;
}

.posts-list small {
  font-size: 0.8em;
  font-variant: small-caps;
}

.contact a {
  width: 3em;
  height: 3em;
  margin-left: 1em;
}

.github            {background-image: url("../assets/github-square.svg");}
.tex-stackexchange {background-image: url("../assets/tex-stackexchange.svg");}
.linkedin          {background-image: url("../assets/linkedin-square.svg");}

.contact {
  display: flex;
  align-items:center;
  flex-direction:row;
}

.contact li{
  list-style-type: none;
}

.excerpt {
  font-style: italic;
}

main>ul:not(.contact) {
  list-style-position: inside;
  list-style-type: disc;
  padding-left: .5em;
}

hr {
  margin: 2rem;
  margin-top: 8rem;
  border: 0;
  height: 1px;
  @include linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}


.hidden {
  visibility: hidden;
  display: none;
}


pre, code {
  background-color: #EFE8EF;
  font-family: Inconsolata;
}

pre {
  padding-left: .5em;
}

